/*
Color Palette:
    White:      #ffffff
    Blue:       #08172b
    Red:        #ec3436
    Light-Grey: #c2c2c2

Fonts: 
    Droid Serif
*/





body {
    background-color: #08172b;
    margin: 0 0 0 0;
    overflow: hidden;
}
@font-face {
    font-family: 'Droid Serif', serif;
    src: url("https://fonts.googleapis.com/css?family=Droid+Serif");
}

#titleYA {
    font-family: 'Droid Serif', serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center; 
    -webkit-user-select: none;
}

#titleBC {
    font-family: 'Droid Serif', serif;
    font-size: 60px;
    color: #ec3436;
    text-align: center; 
    -webkit-user-select: none;
}